<div class="modal-overlay">
  <div class="modal">
    <div class="modal-head">
      <h1>{{__ "modal.deleteUser.title"}}</h1>
      <span class="modal-close">&#10006;</span>
    </div>
    <div class="modal-content">
      <p>{{__ "modal.deleteUser.content"}}</p>
    </div>
    <div class="modal-foot">
      <button class="modal-close">{{__ "modal.deleteUser.close"}}</button>
      <button id="modal-user-delete-button" class="danger">{{__ "modal.deleteUser.delete"}}</button>
    </div>
  </div>
</div>
