<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8" />
  <title>{{__ "admin.headTitle"}}</title>
  <meta name="description" content="{{__ "admin.headDesc"}}">
  <meta content="initial-scale=1" name="viewport">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <link rel="stylesheet" href="/dist/admin.bundle.css">
  <link href="/img/logo/favicon.png" rel="icon" type="image/png">
</head>
<body>
{{{body}}}
<script type="text/javascript" src="/dist/admin.bundle.js"></script>
</body>
</html>
