.admin-menu-wrapper {
  .admin-menu-entry {
    @include menu-list;
  }
}

.admin-user-list-wrapper {
  flex-direction: column;

  .register-settings {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: center;

    div {
      margin: 0 1rem;
    }

    input {
      margin-left: 1rem;

      &[type="number"] {
        width: 6rem;
      }
    }
  }

  .feedback-wrapper {
    @include feedback-wrapper;
  }

  .admin-user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      background-color: var(--color-bg);
      border-radius: var(--radius);
      display: grid;
      grid-gap: 4rem;
      grid-template-columns: 1fr 2fr;
      list-style: none;
      padding: 2rem 4rem;
      margin: 1rem;
      text-align: center;

      .avatar-wrapper {
        img {
          margin-bottom: 1rem;
          max-height: 15rem;
        }

        button {
          margin-top: 1rem;
        }
      }

      .user-wrapper {
        align-self: center;
        text-align: left;

        p {
          font-size: 1.4rem;
          margin-bottom: 1rem;

          .verified-account {
            height: 1.9rem;
            margin-left: .5rem;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

.admin-articles {
  flex-direction: column;

  img {
    height: 2rem;
    width: 2rem;
  }

  .new-article {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    text-decoration: none;

    p {
      padding-right: 1rem;
    }
  }

  .admin-article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      background-color: var(--color-bg);
      border-radius: var(--radius);
      list-style: none;
      padding: 2rem 4rem;
      margin: 1rem;
      position: relative;
      text-align: center;
      max-width: 20rem;

      h3 {
        @include text-ellipsis;
      }

      .edit-article {
        height: 2rem;
        position: absolute;
        right: 1rem; // Cancel page-content padding
        top: 1rem;
        width: 2rem;
      }

      .published-article {
        align-items: center;
        display: flex;
        justify-content: center;
        line-height: 2rem;
      }
    }
  }
}
