.feedback-wrapper {
  @include feedback-wrapper;
}

.form-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  border-radius: var(--radius);
  padding: 2rem 4rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  label {
    font-style: italic;
  }

  input {
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    margin-bottom: 0;
    margin-top: 1rem;
    padding: .5rem 1.5rem;
  }
}
