@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    height: 8rem;
    justify-content: center;
    text-align: center;

    .page-navigation {
      left: 0;
      position: relative;
    }
  }

  main  {
    align-items: center;
    height: auto;
    justify-content: flex-start;
    padding: 1rem;

    &.admin-user-list-wrapper {
      .admin-user-list {
        li {
          grid-template-columns: 1fr;
          padding: 2rem;
        }
      }
    }
  }
}
