@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    height: 8rem;
    justify-content: center;
    text-align: center;

    .page-navigation {
      left: 0;
      position: relative;
    }
  }

  main  {
    align-items: flex-start;
    height: auto;
    padding: 1rem;

    &.user-profile-wrapper,
    &.user-edit-wrapper {
      .profile-grid {
        grid-template-columns: 1fr;
        padding: 2rem;

        .info-wrapper {
          p {
            font-size: 1.2rem;
            word-break: break-word;
          }

          .edit-profile {
            right: 0;
          }
        }
      }

      .edit-profile-wrapper {
        padding: 2rem;

        input {
          text-align: center;
          width: 100%;

          &[type="file"] {
            margin-left: 0;
          }
        }
      }
    }
  }
}
